# Python cache files
**/*.pyc
**/__pycache__/** 
**/.pylintrc
**/.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code project files
**/.vscode

# macOS metadata files
**/.DS_Store

**/.venv/